<li class="py-3">
	<div class="flex flex-wrap gap-2">
		{% for term in post.terms({
			taxonomy: taxonomy
		}) %}
			<a href="{{ term.link }}">{{ term.title }}</a>
		{% endfor %}
	</div>
	<a class="flex justify-between items-center gap-x-6 pt-3" href="{{ post.link }}">
		<p>
			{{ post.title }}
		</p>
		<div class="w-auto shrink-0">
			<time class="text-sm" datetime="{{ post.date('Y-m-d H:i:s') }}">{{ post.date }}</time>
		</div>
	</a>
</li>
